{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block viewsem %}
is-active
{% endblock %}

          {% block pagetitle %}
            {{semester}}
          {% endblock %}
{% block main %}



<div class="columns">
    <div class="column is-12">
        <div class="tabs">
            <ul>
                <li><a href="/semester/view?semname={{semester}}">Dashboard</a></li>
                <li class="is-active"><a href="/semester/view/courses?semname={{semester}}">Courses</a></li>
            </ul>
        <div class="field is-grouped">
            <p class="control">
                <a class="button is-small is-dark" href="/semester/courses/create?semester=Semester 4">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span>Add Course</span>
                </a>
            </p>
        </div>

        </div>
    </div>

</div>

<nav class="level is-mobile">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">CGPA</p>
                <p class="title" id="cgpatag" name="cgpatag">7.56</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">SGPA</p>
                <p class="sgpatag title" name="sgpatag" id="sgpatag">7.69</p>
            </div>
        </div>
    </nav>


    {% for course in data %}
<div class="columns">
    <div class="column ">
        <div class="card" style="border-left:5px solid black">
            <div class="card-content">

                <div class="columns">

                    <div class="column is-10">
                        <h4 class="subtitle has-text-weight-semibold is-size-6"> {{course[1]}} </h4>
                        <p>{{course[9]}} - {{course[2]}} credits</p>
                        <p>{{course[3]}}</p>

                        <div class="data{{course[0]}}">
                            <br>
                            <div class="columns">
                            {% for i in course[4].items() %}

                            <div class="column is-size-7 ">
                                <input class="input marks" type="number" name="{{course[0]}}_{{i.0}}" id="{{course[0]}}_{{i.0}}"
                                placeholder="{{i.value}}" value="{{i.1}}">
                            </div>
                            {% endfor %}
                            </div>
                        </div>

                    </div>
                    <br>
                    <div class="column">
                        <button class="button is-white btn{{course[0]}} " id="btn{{course[0]}}"
                            style="position: absolute; bottom: 0; right: 0;"><i class="fas fa-arrow-down"></i></button>
                        <br>
                    </div>

                    {% if course[-3] == 0 %}
                        <span class="tag is-danger">Level {{course[-3]}}</span>
                    {% elif course[-3] == 1 %}
                        <span class="tag is-warning">Level {{course[-3]}}</span>
                    {% else %}
                        <span class="tag is-success">Level {{course[-3]}}</span>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
    {% endfor %}


<script>
  function updateCGPA() {
    var marksValue = $(this).val(); // Get the value of the input element
    var cgpaDivId = $(this).attr('name') || $(this).attr('id'); // Get the name or id of the input element

    $.ajax({
      url: '/api/marks/add',
      method: 'GET',
      data: { marks: cgpaDivId+'_'+marksValue },
      success: function(response) {
        $('#sgpatag').text(response);
      },
      error: function() {
        console.error('Error retrieving data.');
      }
    });
  }
</script>
<script>


    $(document).ready(function () {
        $("[class^='data']").hide();
        $("button[class*='btn']").click(function () {
            var className = $(this).attr("id");
            $(this).find("i").toggleClass("fa-rotate-180");
            var string = className.substring(className.lastIndexOf("btn") + 3);

            $(".data" + string).toggle();
            console.log("Button with class starting with 'btn' was clicked. Class name: " + className);
        });


    $.ajax({
      url: '/api/calculate/cgpa',
      method: 'GET',
      data: {},
      success: function(response) {
        $('#cgpatag').text(response);
      },
      error: function() {
        console.error('Error retrieving data.');
      }
    });
    $.ajax({
      url: '/api/calculate/gpa',
      method: 'GET',
      data: {},
      success: function(response) {
        $('#sgpatag').text(response);
      },
      error: function() {
        console.error('Error retrieving data.');
      }
    });

  $('.marks').on('change', updateCGPA);

    });

</script>
{% endblock %}