{% include 'header.html' %}
<div class="card my-5">
    <div class="card-body">
        <h3>Courses</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Course Description</th>
                    <th>Course Credits</th>
                    <th>Faculty</th>
                    <th>Course Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td>{{ course.name}}</td>
                    <td>{{ course.credits }}</td>
                    <td>{{ course.faculty }}</td>
                    <td>
                        <a href="/api/v1/course/{{ course.id }}" class="btn btn-secondary">View</a>
                        <a href="/api/v1/course/{{ course.id }}/edit" class="btn btn-secondary">Edit</a>
                        <a href="/api/v1/course/{{ course.id }}/delete" class="btn btn-secondary">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>