{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block addsem %}
is-active
{% endblock %}

          {% block pagetitle %}
Create Course
          {% endblock %}
{% block main %}



<div class="columns">
    <div class="column is-12">
        <div class="card is-shadowless">
            <div class="content">

                <form action="/createCourse" method="post">

                    <div class="columns is-size-7">
                        <div class="column is-size-7">
                            <label for="coursename">Course Name</label>
                            <input class="input " type="text" name="coursename" id="coursename"
                                placeholder="Theory of Computation">
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column is-size-7 is-1">
                            <label for="credits">Credits </label>
                            <input class="input " type="number" name="credits" id="credits" placeholder="2">
                        </div>
                        <div class="column is-size-7 is-3">
                            <label for="faculty">Faculty Name</label>
                            <input class="input " name="faculty" id="faculty" type="text" placeholder="Avdhut :)">
                        </div>
                        <div class="column is-size-7 is-2">
                            <label class="is-size-7" for="mark1">Marks Distribution1</label>
                            <input class="input " type="number" name="mark1" id="mark1" placeholder="2" value="0">
                        </div>
                        <div class="column is-size-7 is-2">
                            <label class="is-size-7" for="mark2">Marks Distribution2</label>
                            <input class="input " type="number" name="mark2" id="mark2" placeholder="2" value="0">
                        </div>
                        <div class="column is-size-7 is-2">
                            <label class="is-size-7" for="mark3">Marks Distribution3</label>
                            <input class="input " type="number" name="mark3" id="mark3" placeholder="2" value="0">
                        </div>
                        <div class="column is-size-7 is-2">
                            <label class="is-size-7" for="mark4">Marks Distribution4</label>
                            <input class="input " type="number" name="mark4" id="mark4" placeholder="2" value="0">
                        </div>
                    </div>

                    <div class="columns is-size-7">
                        <div class="column is-size-7">
                            <label for="coursetype">Course Type</label>
                            <select class="input " name="coursetype" id="coursetype"
                                placeholder="Theory of Computation">
                                <option value='BSC'> BSC </option>
                                <option value='MLC'> MLC</option>
                                <option value='HSMC'>HSMC </option>
                                <option value='SBC'> SBC </option>
                                <option value='IFC'> IFC </option>
                                <option value='PCC'> PCC </option>
                                <option value='LC'> LC </option>
                            </select>
                        </div>
                        <div class="column">
                            <label for="coursecode">Course Code</label>
                            <input class="input " type="text" name="coursecode" id="coursecode"
                                placeholder="IFC-4001">
                        </div>
                    </div>

                    <div class="columns is-size-7">
                        <div class="column ">
                            <label for="seniorsop">Q. Senior's advice on Scoring in this course.</label>
                            <input id="seniorsop" name="seniorsop" class="slider has-output is-circle is-small is-dark is-fullwidth" min="0" max="100"
                                value="50" step="1" type="range">
                            <output for="seniorsop">50</output>
                        </div>
                        <div class="column ">
                            <label for="friendsop">Q. Friend's opnions on Scoring in this course.</label>
                            <input id="friendsop" name="friendsop" class="slider has-output is-circle is-small is-dark is-fullwidth" min="0" max="100"
                                value="50" step="1" type="range">
                            <output for="friendsop">50</output>
                        </div>
                    </div>
                    <div class="columns is-size-7">
                        <div class="column ">
                            <label for="youop">Q. Your instincts on Scoring in this course.</label>
                            <input id="youop" name="youop" class="slider has-output is-circle is-small is-dark is-fullwidth" min="0" max="100"
                                value="50" step="1" type="range">
                            <output for="youop">50</output>
                        </div>
                    </div>

                    <input type="hidden" name="semester" value="{{semester}}">

                    <script>bulmaSlider.attach();</script>

                    <button class="button is-dark is-link " style="background-color: black;"
                        type="submit">Create!</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}