{% extends "login_layout.html" %}
{% block title %}Login{% endblock %}
{% block form %}

<form action="/loginuser" method="post">

<div class="column is-size-7">
  <label for="email">Email</label>
  <input class="input" name="email" id="email" type="text" placeholder="Email address">
</div>
<div class="column is-size-7">
  <label for="pass">Password</label>
  <input class="input " name="pass" id="pass" type="password" placeholder="Password">
</div>
<div class="column">
  <button class="button is-link is-fullwidth" style="background-color: black;" type="submit">Login</button>
</div>
<div class="has-text-centered">
  <p class="is-size-7"> Don't have an account? <a href="/signup">Sign up</a>
  </p>
</div>
</form>
{% if error %}
<br>
<article class="message is-danger">
  <div class="message-body is-size-7">{{ error }}</div>
</article>
{% endif %}
{% endblock %}