{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block addsem %}
is-active
{% endblock %}

          {% block pagetitle %}
          Create Semester
          {% endblock %}
{% block main %}



<div class="columns">
    <div class="column is-12">
        <div class="card is-shadowless">
            <div class="content">

                <form action="/createSemester" method="post">

                    <div class="columns is-size-7">
                        <div class="column is-size-7">
                            <label for="semname">Semester Name</label>
                            <input class="input " type="text" name="semname" id="semname" placeholder="Semester X">
                        </div>
                    </div>
                    <!-- college name, id number, branch,  -->

                    <div class="columns">
                        <div class="column is-size-7 is-3">
                            <label for="startdate">From </label>
                            <input class="input " name="startdate" id="startdate" type="date">
                        </div>
                        <div class="column is-size-7 is-3">
                            <label for="enddate">to</label>
                            <input class="input " name="enddate" id="enddate" type="date">
                        </div>
                        <div class="column is-size-7 is-6">
                            <label for="creaditsallowed">Credits Allowed</label>
                            <input class="input " type="number" name="creaditsallowed" id="creaditsallowed" placeholder="27">
                        </div>
                    </div>

                    <button class="button is-dark is-link " style="background-color: black;"
                        type="submit">Create!</button>
                </form>
            </div>
        </div>
    </div>
</div>

<hr>
<div class="container">

    <h4 class="subtitle">

    Recent Semesters
    </h4>
    <div class="card is-shadowless">

            <div class="columns">
    {% for sem in data %}
                <div class="column is-3">
                    <div class="card" style="border-left:5px solid black">
                        <div class="card-content">

                            <h4 class=" has-text-weight-semibold is-size-5">
                                {{sem[1]}}
                            </h4>

                            <p class="my-1"> {{sem[3]}} credits registered</p>
                            <button class="button my-2 is-dark is-small " onclick="window.location.href='/semester/view?semname={{sem[1]}}'" > View</button>
                        </div>

                    </div>
                </div>

    {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}