{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block viewsem %}
is-active
{% endblock %}

{% block main %}


<div class="columns">
    <div class="column is-10">
        <h1 class="title">Semester IV</h1>
    </div>
    <div class="column is-2">
        My Profile
    </div>
</div>


<div class="columns">
    <div class="column is-12">
        <div class="tabs">
            <ul>
                <li class="is-active"><a href="/semester/view">Dashboard</a></li>
                <li><a  href="/semester/view/courses">Courses</a></li>
                <li><a>Attainment(Marks)</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-12">

    <nav class="level is-mobile">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">CGPA</p>
                <p class="title">7.56</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">SGPA</p>
                <p class="title">7.69</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Goals True +ve</p>
                <p class="title">19</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Streak</p>
                <p class="title">56</p>
            </div>
        </div>
    </nav>
    </div>
</div>

<div class="columns">

    <div class="column is-5">

        <div class="card is-shadowless">
            <div class="card-content">

                <div style="width: 350px;"><canvas id="coursespie"></canvas></div>

            </div>
        </div>
    </div>

    <div class="column is-6">

        <div class="card is-shadowless">
            <div class="card-content">

                <div style="width: 650px;"><canvas id="streakbar"></canvas></div>

            </div>
        </div>
    </div>
</div>



<div class="is-6">


</div>

{% endblock %}