{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block viewsem %}
is-active
{% endblock %}


          {% block pagetitle %}
          {{semname}}
          {% endblock %}

{% block main %}



<div class="columns">
    <div class="column is-12">
        <div class="tabs">
            <ul>
                <li class="is-active"><a href="/semester/view?semname={{semname}}">Dashboard</a></li>
                <li><a  href="/semester/view/courses?semester={{semname}}">Courses</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-12">

    <nav class="level is-mobile">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">CGPA</p>
                <p class="title">{{cgpa }}</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">SGPA</p>
                <p class="title">{{sgpa}}</p>
            </div>
        </div>
      
    </nav>
    </div>
</div>

<div class="columns">

    <div class="column is-5">

        <div class="card is-shadowless">
            <div class="card-content">

                <div style="width: 350px;"><canvas id="coursespie"></canvas></div>

            </div>
        </div>
    </div>

    <div class="column is-6">

        <div class="card is-shadowless">
            <div class="card-content">

                <div style="width: 650px;"><canvas id="streakbar"></canvas></div>

            </div>
        </div>
    </div>
</div>



<div class="is-6">


</div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
  <script>

(async function() {

    const data = {
  labels: [
    {% for i in courses %}
        ' {{i.1}}',
    {% endfor %}
  ],
  datasets: [{

    label: '{{semname}}',
    data: [
        
    {% for i in courses %}
        {{i.2}},
    {% endfor %}
    ],
     hoverOffset: 4,
     backgroundColor:["#1abc9c","#2ecc71","#3498db","#9b59b6","#34495e","#f1c40f","#e67e22","#e74c3c"]
  }]
};
  new Chart(
    document.getElementById('coursespie'),
    {
      type: 'pie',
      data: data,
      options: {
        plugins: {
            title: {
                display: true,
                text: 'Courses Weightage in {{semname}}'
            }
        }
    }
    }
  );




const data2 = {
    labels: [
    {% for i in courses %}
        ' {{abbreviate_sentence(i.1)}}',
    {% endfor %}
  ],
  datasets: [{
    label: '{{semname}}',
    data: [ {% for i in courses %}
        {{i.2}},
    {% endfor %}],
     hoverOffset: 4,
  tension: 0.1,
     backgroundColor:["#1abc9c","#2ecc71","#3498db","#9b59b6","#34495e","#f1c40f","#e67e22","#e74c3c"]
  }]
};
  new Chart(
    document.getElementById('streakbar'),
    {
      type: 'line',
      data: data2,
      options: {
        plugins: {
            title: {
                display: true,
                text: 'Courses Weightage in {{semname}}'
            }
        }
    }
    }
  );
})();
  </script>

{% endblock %}